<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout/default"
>
  <th:block layout:fragment="content">
    <div class="container" style="max-width: 1000px">
      <h2>Chat Rooms:</h2>
      <div th:each="roomName : ${chatRoom}">
        <a
          th:href="@{'http://localhost:3000/items/' + ${roomName.itemId} + '/chat'}"
        >
          <button
            th:text="${roomName.itemId} + ${roomName.displayName}"
            class="btn-chat"
          ></button>
        </a>
      </div>
    </div>
  </th:block>
</html>
