<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>프로젝트 데모</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/webstomp-client@1.2.6/dist/webstomp.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="module" th:inline="javascript">
    
    import { jwtDecode, InvalidTokenError } from "/static/js/jwt-decode.js";

    const cookies = getCookie();
    let decodeCookie;
    let itemsId;
    let userId;

    function getCookie() {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();

        const [cookieName, cookieValue] = cookie.split("=");
        if (cookieName === "Authorization") {
          return cookieValue;
        }
      }
      return null;
    }

    if (cookies !== null) {
      decodeCookie = jwtDecode(cookies);
      itemsId = decodeCookie.itemsId;
      userId = decodeCookie.sub;
    } else {
      // getCookie에서 반환된 값이 null일 경우에 대한 처리
      console.log("Cookie not found");
    }

    function onError(e) {
      console.log("STOMP ERROR", e);
    }

    function onDebug(m) {
      console.log("STOMP DEBUG", m);
    }

    if (userId) {

    // 소켓연결
    if (cookies !== null) {

      const sockJs = new SockJS("http://localhost:1234/stomp/chat");
      const stomp = webstomp.over(sockJs);

      stomp.debug = onDebug;

      stomp.connect(
        "guest",
        "guest",
        function (frame) {
          console.log("STOMP Connected");
          /* subscribe 설정에 따라 rabbit의 Exchange, Queue가 상당히 많이 바뀜 */
          console.log(itemsId);
          itemsId.forEach((id) => {
            stomp.subscribe(
              `/exchange/chat.exchange/${id}.#`,
              function (content) {
                console.log("뭔가 왔다", { id });
              }
            );
            // stomp.send(
            //   `/pub/chat.enter.${id}.#`,
            //   JSON.stringify({
            //     sendUserId: userId,
            //   })
            // );
          });
        },
        onError,
        "/"
      );
    }

    // 변수 값이 true이면 해당 태그를 숨깁니다.
    document.getElementById('userUnknown').style.display = 'none';
    document.getElementById('userLogin').style.display = 'block';
    document.getElementById("userId").innerHTML = userId;
    } else {
        console.log("로그인 안됐엉!!@@@@");

        // 변수 값이 false이면 해당 태그를 표시합니다.
        document.getElementById('userUnknown').style.display = 'block';
        document.getElementById('userLogin').style.display = 'none';
    }


  </script>
  <script th:inline="javascript">
        function findAddr() {
      new daum.Postcode({
        oncomplete: function (data) {
          var addr = ""; // 주소 변수
          var extraAddr = ""; // 참고항목 변수

          if (data.userSelectedType === "R") {
            // 사용자가 도로명 주소를 선택했을 경우
            addr = data.roadAddress;
          } else {
            // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
          }

          // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
          if (data.userSelectedType === "R") {
            if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
              extraAddr += data.bname;
            }

            if (data.buildingName !== "" && data.apartment === "Y") {
              extraAddr +=
                extraAddr !== "" ? ", " + data.buildingName : data.buildingName;
            }

            if (extraAddr !== "") {
              extraAddr = " (" + extraAddr + ")";
            }

            document.getElementById("addressDto.detailAdr").value = extraAddr;
          } else {
            document.getElementById("addressDto.detailAdr").value = "";
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById("addressDto.zipcode").value = data.zonecode;
          document.getElementById("addressDto.streetAdr").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("addressDto.detailAdr").focus();
        },
      }).open();
    }
  </script>
    <style>
        html,
        body {
          height: 100%;
          min-width: 30%;
        }
        .bi {
          vertical-align: -0.125em;
          fill: currentColor;
        }
        .image-container {
            height: 236px;
            width: 100%;
        }
        .img-home {
            height: 100%;
            object-fit: cover;
        }
        .a-container {
        }
        a {
            text-decoration: none;
        }
        .a-container > a {
            color: #2E2E2E;
        }

      </style>
</head>
</th:block>
</html>